<div class="welcome-container">
  <% if @current_user %>
    <p>Welcome <%=@current_user.username.capitalize %></p>
  <% end %>
</div>


<div class="home-container">
  <center><h1>Note Taker</h1></center>

    <ol>
    <%  @notes.each do |note| %>
    <div class="notes-div">
      <li><a href="/notes/<%=note.id%>"><%= note.title %></a> </li>

      <form action="/notes/<%= note.id %>/edit" method="get">
        <input type="hidden" name="_method" value="put">
        <input type="submit" value="Edit">
      </form>

      <form action="/notes/<%= note.id%>" method="post">
        <input type="hidden" name="_method" value="delete"><input type="submit" value="Delete Note">
      </form>
    </div>
    <% end %>
  </ol>
  </div>


  <div class="container">
  <h1>Create A Note</h1>
  <form action="/notes" method="POST">
    <label>Title: <input type="text" name="title" placeholder="Enter Title"></label><br><br>

    <label>Content: <textarea rows="5" cols="30" name="content" placeholder="Enter Note Content"></textarea></label><br><br>
    <input type="submit" value="Submit">
  </form>
</div>






<div class="new-note-container">
  <h3><a href="/notes/new">Create A New Note</a><h3>
</div>
<%= erb :_logout %>

